/* src/App.css */
body {
  background-color: #121212; /* Dark background color */
  color: #fff; /* Text color */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: #1a1a1a; /* Header background color */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 20px;
}

.playlist-container {
  background-color: #1a1229; /* Playlist container background color */
  padding: 20px;
  width: 270px;
  min-height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.playlist-container ul {
  padding-left: 0;
}

.playlist-container li {
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  background-color: #301e3a; /* Playlist item background color */
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.playlist-container li:hover {
  background-color: #4c3361; /* Playlist item background color on hover */
}

.song-details {
  text-align: center;
}

.thumbnail {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}

.song-title {
  color: #fff;
  margin-top: 10px;
}

.audio-player-container {
  text-align: center;
  width: 60%;
  padding: 0 20px;
  margin-left: 250px;
  width: 400px;
  margin-right: 200px;
}

.audio-player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.audio-player {
  background-color: #301e3a; /* Audio player background color */
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
  background-color: #301e3a; /* File input background color */
  color: #fff; /* File input text color */
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  background-color: #4c3361; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6d5283; /* Button background color on hover */
}

/* src/App.css */
/* ... existing styles ... */
/* src/App.css */
/* ... existing styles ... */

input[type="file"] {
  background-color: #4c3361; /* Updated file input background color */
  color: #fff; /* File input text color */
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer; /* Ensure the cursor changes on hover */
}

input[type="file"]:hover {
  background-color: #6d5283; /* File input background color on hover */
}
